body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0px;
}

#logo {
  margin: 0px;
  padding: 8px;
  font-family: "Fredoka One", sans-serif;
  color: white;
  background-color: chocolate;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
  font-size: 5em;
  text-align: center;
  box-shadow: 10px 10px 15px 5px black;
  width: 100%;
  border-radius: 0%;
}
img {
  border-radius: 25%;
  width: 200px;
  height: 200px;
}
/* body {
  width: 70%;
  margin: auto;
  background-color: darkgreen;
} */

body {
  width: 70%;
  margin: auto;
  height: 1000vh; /* Full viewport height */
  background-image: url("valentin-salja-CLvkkjb-i3g-unsplash.jpg"); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
/* 
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */
